@{
	ViewData["Title"] = "Index";
}

@{
	Layout = "_Layout";
}
<html>
<head>
	<title>Abot us</title>
</head>
<body>
	<div>
		<p>
			This is a simple web application which provides users about basic information on stocks
			of different companies.
		</p>
		<br />
		<p>
			<b>Companies:</b>
		<p>
			By clicking on the companies user will see a list of all the available companies
			for which Company details,Stock price of the company and dividends information
			is available
		</p>
		<br />
		<b>CompanyDetails:</b>
		<p>
			By clicking on the CompanyDetails user can know CEO of company, primary sector in which the
			company operates and the stock exchange on which the company stocks are traded.
		</p>
		<br />
		<b>CompanyQuote:</b>
		<p>
			By clicking on the CompanyQuote user can know stock opening price, stock closing price, previous
			day's closing price and the total market capitalization of the company.
		</p>
		<br />
		<b>CompanyDividends:</b>
		<p>
			By clicking on the CompanyDividends user can know the company dividends in the last one year for each
			quarter, this will include the amount of dividend on each share, dividend announcemnet date, payment date
			and the type of dividend.
		</p>
		<br />
		<b>Feedback:</b>
		<p>
			This for receiving the feedback from users regardding the application, users can just enter their name and
			feedback message.
		</p>
		<br />
		<b>Developers:</b>
		<p>
			This application is developed by Mohammad Subhani, Indra Reddy and Saksham and you can find the source
			code for this application <a href="https://github.com/subhanisyed17/StocksWebApp.git" target="_blank"><b><u>here</u></b></a>.
		</p>

		</p>
	</div>
</body>
</html>