@{
	ViewData["Title"] = "CompanyDetails";
}
@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>
	<form action="/Home/CompanyDetails" method="post">
		<input type="text" name="Symbol" />
		<input type="submit" value="GetCompanyDetails" />
	</form>
</body>
</html>