@model StocksWebApp.Models.CompanyQuote

@{
	ViewData["Title"] = "CompanyQuote";
}

<!DOCTYPE html>
<html>
<head>
	<h2>Get Company Quote</h2>
</head>
<body>
	<form action="/Home/CompanyQuote" method="post">
		<label for="@Model.Symbol">Symbol</label>
		<input type="text" name="@Model.Symbol" />
		<input type="submit" name="GetQuote" />
	</form>
</body>
</html>
