@{
	ViewData["Title"] = "GetCompanyDividend";
}

@model IEnumerable<StocksWebApp.Models.CompanyDividend>

@{
	Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<style type="text/css">
		body {
			font-family: Arial;
			font-size: 10pt;
		}

		table {
			border: 1px solid #ccc;
			border-collapse: collapse;
			background-color: #fff;
		}

			table th {
				background-color: #B8DBFD;
				color: #333;
				font-weight: bold;
			}

			table th, table td {
				padding: 5px;
				border: 1px solid #ccc;
			}

			table, table table td {
				border: 0px solid #ccc;
			}
	</style>
</head>
<body>
	<div>
		<h4>Dividends of Company Over Last 1 Year</h4>
		<hr />
		<table cellpadding="0" cellspacing="0">
			<tr>
				<th>DeclaredDate</th>
				<th>TypeOfDividend</th>
				<th>DividendAmount</th>
				<th>PaymentDate</th>
			</tr>
			@foreach (CompanyDividend companyDividend in Model)
			{
			<tr>
				<td>@companyDividend.DeclaredDate</td>
				<td>@companyDividend.Type</td>
				<td>@companyDividend.Amount</td>
				<td>@companyDividend.PaymentDate</td>
			</tr>
			}
		</table>
		<br />
		<tr>

		</tr>
		<p>Amount shown is in dollars</p>
	</div>
</body>
</html>
