@{
	ViewData["Title"] = "Index";
}
@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<body>
	<form action="/Dividends/Index" method="post">
		Company Symbol:
		<br />
		<br />
		<input type="text" name="Symbol">
		<br>
		<br>
		<input type="submit" value="GetCompanyDividends">
	</form>
</body>
</html>